*{
    background-color: rgb(49, 47, 47);
}
.container{
    padding:45px 550px
}
.cal{
    width:400px;
    height:600px;
    padding:20px;
    border:1px solid rgb(83, 167, 184);
}
.displayy{
    width:100%;
    height:150px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.displayy input{
    width:100%;
    height:100%;
    border-radius: 15px;

}
.val{
    width:auto;
    height:400px;
    padding:10px;
    border-radius: 10px;
}
.r{
    width:auto;
    height:70px;
    padding:5px;
    display:flex;
    flex-basis: 23%;
}
.but{
    flex-basis: 25%;
    margin:5px;
    height:60px;
    text-align: center;
    border:1px solid gray;
    padding-top:10px;
    border-radius: 7px;
    cursor:pointer;
}
.but input{
    border:none;
    cursor:pointer;
    color:aliceblue;
    font-size: 35px;
}
.bu{
    flex-basis: 25%;
}
.last{
    flex-basis: 50%;
}

.screen{
    color:white;
    font-size:25px;
    position:relative;
   
}
.top{
    color:rgb(9, 9, 9);
}